@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.body {
    background-color: rgb(207, 201, 201);
    font-family: "Poppins", sans-serif;
    font-weight: 300
}


.height {
    height: 100vh
}

.card {
    border: none;
    padding: 20px;
    background-color:white;
    color:black
}

.circle {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: #fff;
    font-size: 10px;
    border-radius: 50%
}
.trial{
    border-top: 20px solid #ffc107; 
    border-radius: 50px 20px;
}

.upper{
    background-color: #198754;
}
.upperr{
    background-color:white;
}
.check{
    padding:50px;
    margin-left:10vh
}
.check img{
    margin-left:2vh
}
.message{
    padding:50px;
   
}
.check h4{
    margin-top:2vh;
    margin-left:2vh;
    color:white;
}
.message button{
    margin-left:8vh
}


